<div id="container">
  <div class="row">
    <div class="comic-cell col-md-8">
      <div id="links">
        <div class="row">
          <% @images.first(2).each do |image| %>
            <a href="authors/<%= @author %>/<%= image %>" title="<%= @author_info[1] %>" data-gallery>
                <img src="authors/<%= @author %>/<%= thumbnail(image) %>" alt="">
            </a>
          <% end %>
        </div>
        <div class="row">
          <% @images.last(2).each do |image| %>
            <a href="authors/<%= @author %>/<%= image %>" title="<%= @author_info[1] %>" data-gallery>
                <img src="authors/<%= @author %>/<%= thumbnail(image) %>" alt="">
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comic-cell col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @author_info[1] %></h3>
        </div>
        <div class="panel-body">
          <h4><%= @author_info[0] %></h4>
          <p><%= @author_info[2] %></p>
          <a class="btn btn-default" href="<%= @author_info[3] %>" target="_blank">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
